{# templates/wordle/edit.html.twig #}

{% extends 'account/index.html.twig' %}

{% block mainContent %}
    <h2>Modifier le Wordle</h2>

    {{ form_start(form) }}
    {{ form_row(form.solution, {
        'label': 'Solution ',
        'attr': {'class': 'text-black'}
    }) }}
    {{ form_row(form.maxTries, {
        'label': 'Nombre d\'essaie ',
        'attr': {'class': 'text-black'}
    }) }}
    <button  type="submit" class="mb-2 rounded-lg bg-blue-700 px-5 mt-2 text-sm font-medium text-white py-2.5 me-2 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Modifier</button>

    {{ form_end(form) }}
{% endblock %}

